.main {
  border: 1px solid black;
  width: 80%;
  height: 450px;
  margin: auto;
  background-color: #f2f2f2;
}

.main > div:nth-child(2) {
  display: flex;
  height: 300px;
  width: 85%;
  border: 1px solid green;
  margin: auto;
}

.main > div:nth-child(2) > div {
  border: 1px solid red;
  height: 280px;
  width: 18%;
  margin: auto;
  background-color: white;
}

.offerdiv > p {
  font-size: 16px;
  text-align: center;
  padding: auto;
}

.offerdiv > h2 {
  color: blue;
}

.button {
  background-color: black;
  color: white;
  height: 30px;
}
