.footerAt {
  display: grid;
}
.footer_upAt {
  width: 82%;
  margin: auto;
  padding-left: 30px;

  display: grid;
  grid-template-columns: 28% 17% 13% 17% 12%;
  gap: 2%;
  text-align: left;
}
.footer_upATagAt {
  color: rgb(85, 82, 82);
  text-decoration: none;
  font-size: 14px;
  margin-top: 20px;
}

.footer_midAt {
  width: 82%;
  margin: auto;
  padding-left: 30px;
  display: grid;
  grid-template-columns: 30% 45%;
  gap: 30%;
}
.footer_midAt > div:first-child {
  display: flex;
  gap: 20px;
  font-size: 20px;
}
.footer_midAt > div:first-child a {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.btnAt {
  height: 35px;
  width: 70px;
  margin-top: 2px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s ease-in;
}
.btnAt:hover {
  background-color: rgb(224, 220, 220);
  color: black;
  transition: 0.4s ease-in;
}

.footer_dnAt {
  background-color: whitesmoke;
  display: grid;
  margin: auto;
  height: 130px;
  width: 100%;
  text-align: center;
}
.footer_dnAt > div:first-child a {
  color: black;
  text-decoration: none;
}
.footer_dnAt > div:first-child span {
  font-size: 12px;
}

.underline_hoverAt {
  display: inline-block;
  padding-top: -10px;
  padding-bottom: 1px;
  position: relative;
  margin: 8px;
  font-size: 13px;
}
.underline_hoverAt::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: rgb(92, 83, 83);
  transition: width;
}
.underline_hoverAt:hover::before {
  width: 100%;
}

.h5TagAt {
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 15px;
}

.socialmedia {
  height: 30px;
  width: 250px;
  display: flex;
  margin-top: -20px;
}

.socialmedia > div {
  width: 20%;
}

.social {
  height: 100%;
  width: 100%;
}
