.infoBox > .infoBoxHover {
    background: white;
    display:none;
    z-index: 1000;
    transition: 0.5s ease-in;
  }
  .infoBox:hover .infoBoxHover{
      display:block;
      transition: 0.5s ease-in;
  }